<div class="panel panel-default">
	<div class="panel-heading">
		Devices
	</div>
	<div class="panel-body" v-if="$loadingRouteData">
		Loading data {{ loadingRouteData }}
	</div>
	<div class="panel-body" v-if="devices.length == 0">
		You have no devices, go add one!
	</div>
	<div class="panel-body" v-if=" ! $loadingRouteData && devices.length > 0">
		<div id="alerts" v-if="messages.length > 0">
			<div v-for="message in messages" class="alert alert-{{ message.type }} alert-dismissible" role="alert">
				{{ message.message }}
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>IP</th>
					<th>MAC</th>
					<th width="120px">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="device in devices">
					<td>{{ device.name }}</td>
					<td>{{ device.ip }}</td>
					<td>{{ device.mac }}</td>
					<td>
						<a class="btn btn-warning btn-xs" v-on:click="showUpdateDeviceModal(device)">Edit</a>
						<a class="btn btn-danger btn-xs" v-on:click="deleteDevice($index)">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div tabindex="-1" role="dialog" id="updateDeviceModal" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<div type="button" data-dismiss="modal" aria-label="Close" class="button close"><span aria-hidden="true">&times;</span></div>
				<h4 class="modal-title">Update device information</h4>
			</div>
			<div class="modal-body">
				<form name="updateDevice" role="form" v-on:submit="updateDevice" class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-md-3">Name:</label>
						<div class="col-md-7">
							<input type="name" name="name" v-model="device.name" placeholder="Name" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">IP:</label>
						<div class="col-md-7">
							<input type="ip" name="ip" v-model="device.ip" placeholder="IP" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">MAC:</label>
						<div class="col-md-7">
							<input type="mac" name="mac" v-model="device.mac" placeholder="MAC" class="form-control">
						</div>
					</div>
					<div class="col-md-8 col-md-offset-2 text-danger">
						<ul>
							<li v-for="error_message in error_messages" track-by="$index">{{ error_message }} </li>
						</ul>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<div type="button" data-dismiss="modal" class="button btn btn-default">Close</div>
				<div type="button" v-on:click="updateDevice()" class="button btn btn-primary">Update</div>
			</div>
		</div>
	</div>
</div>